php_value include_path '.;C:\xampp\php\PEAR;C:\xampp\htdocs\locatina'

<FilesMatch "\.(ttf|otf|woff)$">
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>
RewriteEngine on
RewriteOptions inherit
RewriteBase /locatina/
Options +FollowSymLinks

RewriteRule ^login views/login.php [L]
RewriteRule ^login/ views/login.php [L]
